.logo-js {
        text-align: center;
}

.box-js-align {    
    display: flex;
    justify-content: center;
    height: 1vh;
    cursor: pointer;
}


.box-js1 {
    text-align: center;
    width: 200px;
    height: 25px;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    background-color: rgb(247, 247, 247);
}

.box-js1:hover {
    border-color: #868686;
    background-color : rgb(228, 228, 228);
}

.wrapper {
    display: grid;
}

.bottom-box {
  margin-top: 25px;
  padding: 25px;
  background-color: #ccc;
  border: 1px solid #999;
}

.box-link {
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3;
}

.box-link:hover {
    background-color: #e0e0e0;
}
